
<router-outlet></router-outlet>
<!doctype html>
<html lang="en">

<body>

    <!-- Wrapper Start -->
    <div class="wrapper">
        <div id="content-page" class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="iq-card">
                            <div class="iq-card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title">Review Lists</h4>
                                </div>
                            </div>
                    
                            <div class="ml-auto search-container">
                                <form  class="searchbox">

                                    <i class="ri-search-line"></i>
                                    <input style="margin:10px;" [(ngModel)]="searchU" [ngModelOptions]="{standalone: true}"  (input)="searchReview()"
                                     type="text" class="text search-input" placeholder="filter by user...">
                                    <i class="ri-search-line"></i>
                                    <input style="margin:10px;" [(ngModel)]="searchT" [ngModelOptions]="{standalone: true}"  (input)="searchReview()"
                                     type="text" class="text search-input" placeholder="filter by title...">
                                    <i class="ri-search-line"></i>
                                    <input style="margin:10px;" [(ngModel)]="searchR" [ngModelOptions]="{standalone: true}"  (input)="searchReview()"
                                    type="text" class="text search-input" placeholder="filter by rating...">  
                                
                                </form>
                            </div>

                            <div class="iq-card-body">
                                <div class="table-view">
                                     <!-- data-tables  -->
                                    <table class="table product_table" style="width:100%">

                                        <thead>

                                            <tr>
                                                <th style="width: 10%;">Product</th>
                                                <th style="width: 10%;">Content</th>
                                                <th style="width: 10%;">Rate</th>
                                                <th style="width: 30%;">LastUpdated</th>
                                                <th style="width: 10%;">Edit</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            <tr *ngFor="let currReview of reviews">
                                                <td>  {{ currReview.reviewTitle }} </td>
                                                <td>  {{ currReview.reviewContent | slice:0:100 }}.. </td>
                                                <td> <i class="lar la-star mr-2"></i> {{ currReview.rating }} </td>
                                                <td>  {{ currReview.lastUpdated }} </td>
                                               
                                                <td>
                                                    <div class="flex align-items-center list-user-action">
                                                        <a class="iq-bg-success" data-toggle="tooltip"
                                                            data-placement="top" type="button" title="Edit" data-original-title="Edit"
                                                            (click)="editRe(currReview._id)"><i class="ri-pencil-line"></i></a>

                                                            <a class="iq-bg-primary" data-toggle="tooltip"
                                                            data-placement="top" title="Delete" type="button" data-original-title="Delete"
                                                           (click)="onDelete(currReview._id)"><i class="ri-delete-bin-line"></i></a>
                                                    </div>
                                                </td>

                                                
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>