<div class="wrapper">
    <div id="content-page" class="content-page">
      <div class="container-fluid">
  
        <app-small-boxes></app-small-boxes>
  
        <!-- //------------------------------------------------------------------------------- -->
  
        <div class="row">
          <div class="col-sm-12">
            <div class="iq-card">
  
             
              <app-top-rated></app-top-rated>
              
              <!-- //------------------------------------------------------------------------------- -->
  
              <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                  <h4 class="card-title">Latest Reviews</h4>
                </div>
              </div>
  
              <div class="iq-card-body">
                <div class="table-responsive">
                  <table class=" table product_table" style="width:100%">
  
                    <thead>
                      <tr>
                        <th style="width: 10%;">Content</th>
                        <th style="width: 30%;">LastUpdated</th>
                      </tr>
                    </thead>
  
                    <tbody>
                      <tr *ngFor="let currReview of reviews">
                
                        <td>{{currReview.reviewContent}}</td>
                        <td>{{currReview.lastUpdated}}</td>
                      </tr>
  
                    </tbody>
                  </table>
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>