<!doctype html>
<html lang="en">

<body>
    <!-- Wrapper Start -->
    <div class="wrapper">
        <div id="content-page" class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="iq-card">
                            <div class="iq-card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title">Edit Product </h4>
                                </div>
                            </div>
                            <div class="iq-card-body">
                                <form action="product-view.html">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <div class="row">
                                                <div class="col-12 form-group">
                                                    <input #inpTitle type="text" class="form-control"
                                                        [(ngModel)]="products.title"
                                                        [ngModelOptions]="{standalone: true}">
                                                </div>


                                                <div class="col-sm-6 form-group">
                                                    <input #inpYear type="text" class="form-control"
                                                        [(ngModel)]="products.year" [ngModelOptions]="{standalone: true}">
                                                </div>

                                                <div class="col-md-6 form-group">
                                                    <select #inpCat class="form-control" id="exampleFormControlSelect1"
                                                        [(ngModel)]="inpCat.value"
                                                        [ngModelOptions]="{standalone: true}">
                                                        <option>Adir</option>
                                                        <option>Binyamina</option>
                                                        <option>Castel</option>
                                                        <option>Chateau Remo</option>
                                                        <option>Chevel Yehuda</option>
                                                        <option>Dadah</option>
                                                        <option>Ella Valley</option>
                                                        <option>Backoushe</option>
                                                        <option>Eviatar</option>
                                                        <option>Flam</option>
                                                        <option>Galil Mountain</option>
                                                        <option>Ghito</option>
                                                        <option>Gilad</option>
                                                        <option>Golan Height</option>
                                                        <option>Gush Etzion</option>
                                                        <option>Gvaot</option>
                                                        <option>Haro'e</option>
                                                        <option>Hayotser</option>
                                                        <option>Jerusalem Wineries</option>
                                                        <option>Jezreel Kishor</option>
                                                        <option>Lahat</option>
                                                        <option>Lewis Pasco</option>
                                                        <option>Lueria</option>
                                                        <option>Mony</option>
                                                        <option>Nana</option>
                                                        <option>Netofa</option>
                                                        <option>Or Haganuz</option>
                                                        <option>Ouriel</option>
                                                        <option>Pe'er</option>
                                                        <option>Ramat Negev</option>
                                                        <option>Recanati</option>
                                                        <option>Shiran</option>
                                                        <option>Tabernacle</option>
                                                        <option>Tabor</option>
                                                        <option>Tulip</option>
                                                        <option>Tura</option>
                                                        <option>Tzuba</option>
                                                        <option>Vitkin</option>
                                                        <option>Ya'acov Oryah</option>
                                                        <option>Yarden</option>
                                                        <option>Yatir</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 form-group">
                                                    <textarea #inpImage type="text" rows="3" class="form-control"
                                                        [(ngModel)]="products.image_url"
                                                        [ngModelOptions]="{standalone: true}">
                                                    </textarea>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="d-block position-relative">
                                                <textarea #inpDesc id="text" name="text" rows="13" class="form-control"
                                                    [(ngModel)]="products.description"
                                                    [ngModelOptions]="{standalone: true}"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="display: flex; justify-content: space-between;">

                                        <div>
                                            <button style="margin:5px;" (click)="updateProduct(inpTitle.value, +inpYear.value, inpCat.value, 
                                            inpDesc.value, inpImage.value)" (click)="alert()"
                                                type="submit" class="btn btn-primary">Submit</button>
                                            <button style="margin:5px;" type="reset"
                                                class="btn btn-danger">Clear</button>
                                        </div>

                                        <div>
                                            <button routerLink="/products" style="margin:5px;" type="submit"
                                                class="btn btn-primary">Back</button>
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>