.navigation{
    width: 70;
    height: 70px;
    background-color: black;
    overflow: auto;
     display: flex;
   
  
}

.navigation a {
    float: right;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
.navigation a:hover {
    background-color: #000;
}
@media screen and (max-width: 500px) {
    .navigation a {
      float: none;
      display: block;
    }
}